shim-version: v0.2.10@sha256:f9040a48106ab06c290fd9b225d4dd53a2daad715c9107594d4310b21592039f
cvm-version: 0.5.7
cpus: 16
memory: 65536
gpus: full
vllm: false

models:
  - name: "qwen3-vl-30b-instruct"
    repo: "Qwen/Qwen3-VL-30B-A3B-Instruct@4b184fbdab8886057d8d80c09f35bcfc65fe640e"
    mpk: "c541d7f6ead69534a5aba5b2dfa915d7fe2a33c30f822d84a8520c061029d109_62153220096_3a0557a4-5e57-5734-a7d7-55ad5c50102c"
  
containers:
  - name: "qwen3-vl-30b"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",
      "vllm/vllm-openai:v0.11.2@sha256:2c908d5a84ed251b6a17d179f42d06df1aff353007779ac5eecd8a0ea3fe9331",
      "--model", "/tinfoil/mpk/mpk-c541d7f6ead69534a5aba5b2dfa915d7fe2a33c30f822d84a8520c061029d109",
      "--served-model-name", "qwen3-vl-30b",
      "--limit-mm-per-prompt.video", "0",
      "--port", "8001"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  publish-attestation: false
  tls-challenge: dns  
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/chat/completions
    - /metrics
    - /health
